.zoom-heading {
    mix-blend-mode: difference;
    color: white;
    font-size: 6vw;
    background: linear-gradient(to bottom, #ffffff, #6c6c6c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
  }
  
  .zoom-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    will-change: transform;
    isolation: isolate;
  }
  
  .zoom {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    backface-visibility: hidden;
  transform: translateZ(0);
  }
  
  .zoom-circle {
    height: 30vw;
    width: 30vw;
    border-radius: 100vw;
    background-color: white;
    mix-blend-mode: difference;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .zoom-content {
    color: rgb(123, 113, 113);
    mix-blend-mode: difference;
    position: absolute;
    justify-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7vw;
    word-spacing: 0.5rem;
    margin: 0;
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
  }
   .zoom-content-gradient {
    color: rgb(123, 113, 113); 
    mix-blend-mode: difference; 
    font-size: 1.7vw;
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  } 
  
  .zoom-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  
  
  /* FOOTER */
  
  .footer-content {
    color: black;
    font-size: 3vw;
    z-index: 5;
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    margin-bottom: 2vw;
  }
  
  .link {
    overflow:hidden;
    position:relative;
    text-align:center;
    color:black;
    transition:0.3s;
  }
  
  .link-text {
    display:block;
    height:100%;
    position:relative;
    top:0%;
    transition:0.3s;
  }
  
  .link-text::after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    color: black;
  }
  
  .link:hover .link-text {
    top:-100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }



  /* marquee */
  
.menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu__item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 -1px #fff;
}

.menu__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  color: #fff;
  font-size: 4vh;
}

.menu__item-link:hover {
  color: #060010;
}

.menu__item-link:focus:not(:focus-visible) {
  color: #fff;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #fff;
  transform: translate3d(0, 101%, 0);
  transition: transform 0.6s ease-expo;
}

.marquee__inner-wrap {
  height: 100%;
  width: 200%;
  display: flex;
  transform: translateX(0);
}

.marquee__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 200%;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

.marquee span {
  color: #060010;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4vh;
  line-height: 1.2;
  padding: 1vh 1vw 0;
}

.marquee__img {
  width: 200px;
  height: 7vh;
  margin: 2em 2vw;
  padding: 1em 0;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 50%;
}

.menu__item-link:hover + .marquee {
  transform: translate3d(0, 0%, 0);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


@media (max-width: 1024px) {
  .zoom-heading {
    font-size: 8vw;
    letter-spacing: 0.15rem;
  }

  .zoom-content,
  .zoom-content-gradient {
    font-size: 2.5vw;
    word-spacing: 0.3rem;
  }

  .zoom-circle {
    height: 40vw;
    width: 40vw;
  }

  .menu__item-link {
    font-size: 3.5vh;
  }

  .marquee span {
    font-size: 3.5vh;
  }
}

/* Mobile devices - landscape */
@media (max-width: 768px) and (orientation: landscape) {
  .zoom-heading {
    font-size: 6vh;
    letter-spacing: 0.1rem;
  }

  .zoom-content,
  .zoom-content-gradient {
    font-size: 2vh;
    word-spacing: 0.2rem;
  }

  .zoom-circle {
    height: 25vh;
    width: 25vh;
  }
}

/* Mobile devices - portrait */
@media (max-width: 768px) {
  .zoom-heading {
    font-size: 10vw;
    letter-spacing: 0.1rem;
  }

  .zoom-content,
  .zoom-content-gradient {
    font-size: 3.5vw;
    word-spacing: 0.2rem;
    text-align: center;
    padding: 0 1rem;
    max-width: 90vw;
  }

  .zoom-circle {
    height: 50vw;
    width: 50vw;
  }

  .menu__item-link {
    font-size: 3vh;
    font-weight: 500;
  }

  .marquee span {
    font-size: 3vh;
    padding: 0.5vh 1vw 0;
  }

  .marquee__img {
    width: 150px;
    height: 6vh;
    margin: 1.5em 2vw;
  }

  .footer {
    flex-direction: column;
    gap: 2vw;
    margin-bottom: 4vw;
  }

  .footer-content {
    width: 100%;
    font-size: 5vw;
  }
}

/* Small mobile devices */
@media (max-width: 480px) {
  .zoom-heading {
    font-size: 12vw;
    letter-spacing: 0.05rem;
  }

  .zoom-content,
  .zoom-content-gradient {
    font-size: 4vw;
    word-spacing: 0.15rem;
    line-height: 1.4;
  }

  .zoom-circle {
    height: 60vw;
    width: 60vw;
  }

  .menu__item-link {
    font-size: 2.5vh;
    padding: 0 0.5rem;
  }

  .marquee span {
    font-size: 2.5vh;
  }

  .marquee__img {
    width: 120px;
    height: 5vh;
    margin: 1em 1.5vw;
  }

  .footer-content {
    font-size: 6vw;
  }
}

/* Very small devices */
@media (max-width: 360px) {
  .zoom-heading {
    font-size: 14vw;
  }

  .zoom-content,
  .zoom-content-gradient {
    font-size: 4.5vw;
  }

  .zoom-circle {
    height: 70vw;
    width: 70vw;
  }
}