/* #preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000000000000000000;
    display: flex;
  }
  
  #preloader:before,
  #preloader:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    transition: all 0.3s ease 0s;
  }
  
  #preloader:after {
    left: auto;
    right: 0;
  }
  
  #preloader .loader_line {
    margin: auto;
    width: 1px;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: all 0.8s ease 0s;
  }
  
  .loader_line:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    transform: translateY(-50%);
    background-color: #fff;
    animation: lineheight 1000ms ease-in-out 0s forwards;
  }
  
  .loader_line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #999999;
    transform: translateY(-100%);
    animation: lineround 1200ms linear 0s infinite;
    animation-delay: 2000ms;
  }
  
  @keyframes lineheight {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }
  
  @keyframes lineround {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(200%);
    }
  }
  
  .preloaded .loader_line:after {
    opacity: 0;
  }
  
  .preloaded .loader_line {
    opacity: 0;
    height: 100% !important;
  }
  
  .preloaded:before,
  .preloaded:after {
    animation: preloadedzero 300ms ease-in-out 500ms forwards;
  }
  
  @keyframes preloadedzero {
    0% {
      width: 50%;
    }
    100% {
      width: 0%;
    }
  } */

/* exzit */

/* 
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #141414;
    font-family: "Neue Montreal";
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  nav {
    position: fixed;
    width: 100%;
    padding: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
  
  .nav-item {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .nav-item a {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: #fff;
    opacity: 0.35;
  }
  
  .nav-item a#active {
    opacity: 1;
  }
  
  .hero{
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .icon,
  .icon-2 {
    flex: 0.5;
    padding: 0 5em;
    font-size: 30px;
    opacity: 0.5;
  }
  
  .icon-2 {
    text-align: right;
  }
  
  .icon ion-icon,
  .icon-2 ion-icon {
    transform: scale(0);
  }
  
  .title {
    flex: 2;
    text-align: center;
    font-size: 40px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .title p {
    position: relative;
    top: 50px;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .preview {
    position: absolute;
    bottom: -40em;
    right: 2em;
    display: flex;
    gap: 0.3em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .preview img {
    position: relative;
    top: 100px;
    width: 80px;
    height: 50px;
  }
  
  .slide-num {
    margin: 3em 0;
    text-align: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .slide-num p {
    position: relative;
    top: 30px;
  }
  
    .cont {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 1em;
    }
    
    .cont .col {
        position: relative;
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: column;
        gap: 1em;
    }
    
    .col .item {
        position: relative;
        flex: 1;
        width: 100%;
        background-color: gray;
        overflow: hidden;
    }
    
    .c-1,
    .c-3,
    .c-5 {
        top: 100%;
    }
    
    .c-1 .item,
    .c-3 .item,
    .c-5 .item {
        top: 100%;
    }
    
    .c-2 .item,
    .c-4 .item {
        bottom: 100%;
    } 
  
  @media (max-width: 900px) {
    .slide-num {
      text-align: left;
      padding: 2em;
      margin-bottom: 2.5em;
    }
    .title {
      font-size: 30px;
    }
    .icon,
    .icon-2 {
      padding: 0 1em;
      font-size: 16px;
    }
    .preview img {
      width: 60px;
      height: 40px;
    }
  }
   */

/* exzzzzit */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.preloader-cont {
  font-family: "DM Sans", sans-serif;
}

.img-pre {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h1-pre {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
}

.p-pre {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.preloader,
.split-overlay,
.tags-overlay {
  position: fixed;
  width: 100vw;
  height: 100svh;
}

.preloader,
.split-overlay {
  background-color: #0a0a0a;
  color: #fff;
}

.preloader,
.tags-overlay {
  z-index: 2;
}

.split-overlay {
  z-index: 1;
}

.intro-title-pre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.outro-title-pre {
  position: absolute;
  top: 50%;
  left: calc(50% + 10rem);
  transform: translate(-50%, -50%);
}

.tag {
  position: absolute;
  width: max-content;
  color: #5a5a5a;
  overflow: hidden;
}

.tag-1 {
  top: 15%;
  left: 15%;
}

.tag-2 {
  bottom: 15%;
  left: 25%;
}

.tag-3 {
  bottom: 30%;
  right: 15%;
}

.conte {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: polygon(0 48%, 0 48%, 0 52%, 0 52%);
  z-index: 2;
}

.conte .preloaderHero-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.nav-pre,
.footer-pre {
  position: relative;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 2;
}

.nav-pre p#logo {
  font-weight: 600;
  font-size: 20px;
}

.card-pre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0 50%);
}

.card-pre h1 {
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

.card-pre .char span {
  position: relative;
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

.intro-title-pre .char,
.outro-title-pre .char,
.card-pre .char {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.intro-title-pre .char,
.outro-title-pre .char {
  margin-top: 0.75rem;
}

.intro-title-pre .char span, .outro-title-pre .char span, .tag .word {
  position: relative;
  display: inline-block;
  transform: translateY(-100%);
  will-change: transform;
}

.intro-title-pre .first-char {
  transform-origin: top left;
}


@media (max-width:1000px) {
  .h1-pre {
    font-size: 2.5rem;
  }

  .outro-title-pre {
    left: calc(50% + 4rem);
  }

  .card-pre {
    width: 75%;
  }

  .card-pre h1 {
    font-size: 2.5rem;
  }

  .intro-title-pre .char,
  .outro-title-pre .char {
    margin-top: 0.5rem;
  }
}